<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ appname }} | Admin Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <style>
        .dropdown-menu {
            position: absolute;
            right: 0;
            top: 100%;
            z-index: 10;
        }
    </style>
</head>
<body class="bg-gradient-to-r from-gray-900 via-gray-800 to-gray-700 min-h-screen">
    {% include 'navbar.html' %}
    <div class="container mx-auto p-4">
        <h1 class="text-4xl font-bold text-white mb-4">Admin Dashboard - Users</h1>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            {% for user in users %}
            <div class="bg-gray-800 p-4 rounded-lg shadow-md">
                <h2 class="text-xl font-bold text-white mb-2">{{ user.username }}</h2>
                <p class="text-white">User ID: {{ user.id }}</p>
                <p class="text-white">Email: {{ user.email }}</p>
                <div class="flex items-center">
                    <p class="mr-2 text-white quota-display" data-user-id="{{ user.id }}">Quota: {% if user.permissions.quota is not none %}
                        {{ user.permissions.quota | bytes_to_human }}
                    {% else %}
                        0 MB
                    {% endif %}</p>
                    <input type="text" class="p-1 rounded bg-gray-700 text-white" placeholder="Update Quota" style="width: 50px;" data-user-id="{{ user.id }}">  
                    <button class="ml-2 px-4 py-1 bg-blue-500 text-white rounded hover:bg-blue-600 quota-update-btn" data-user-id="{{ user.id }}">Go</button>
                    <button class="ml-2 px-4 py-1 bg-red-500 text-white rounded hover:bg-red-600 delete-user-btn" data-user-id="{{ user.id }}">Del</button>

                </div>
                <p class="text-white">Files Uploaded: {{ user.file_count }}</p>
                <p class="text-white">Permissions Level: {{ user.permissions.permissions_level }}</p>
                <p class="text-white">Enabled: <input type="checkbox" class="permission-checkbox" data-permission="enabled" data-user-id="{{ user.id }}" {% if user.permissions.enabled %}checked{% endif %}></p>
                <p class="text-white">API Access: <input type="checkbox" class="permission-checkbox" data-permission="apiaccess" data-user-id="{{ user.id }}" {% if user.permissions.apiaccess %}checked{% endif %}></p>
                <p class="text-white">Upload Permission: <input type="checkbox" class="permission-checkbox" data-permission="uploadperm" data-user-id="{{ user.id }}" {% if user.permissions.uploadperm %}checked{% endif %}></p>
                <p class="text-white total-file-size-display" data-user-id="{{ user.id }}">Total File Size: {% if user.total_file_size is not none and user.permissions.quota is not none %}
                    {{ user.total_file_size | bytes_to_human }}/{{ user.permissions.quota | bytes_to_human }}
                {% else %}
                    0/0 MB
                {% endif %}</p>
                
                <p>
                    <progress class="progress-element" value="{{ user.total_file_size }}" max="{{ user.permissions.quota }}" data-user-id="{{ user.id }}"></progress>

                </p>
                
                
            </div>
            {% endfor %}
        </div>
    </div>
    <script>
        $(document).ready(function() {
            // Existing code for handling permission checkbox changes and quota update
        
            // New code for handling the delete button click
            $('.delete-user-btn').on('click', function() {
                var userId = $(this).data('user-id');
        
                if (confirm('Are you sure you want to delete this user?')) {
                    $.ajax({
                        url: '/updateuser/' + userId,
                        type: 'POST',
                        data: JSON.stringify({
                            action: 'delete'
                        }),
                        contentType: 'application/json',
                        success: function(response) {
                            console.log('User deleted successfully');
                            // Optionally, remove the user's information block from the page
                            $(`.bg-gray-800[data-user-id="${userId}"]`).remove();
                        },
                        error: function(xhr, status, error) {
                            console.error('Error deleting user:', error);
                        }
                    });
                }
            });
        });
        </script>
        
          
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const dropdownButtons = document.querySelectorAll('.dropdown-button');
            const dropdownMenus = document.querySelectorAll('.dropdown-menu');
        
            dropdownButtons.forEach((dropdownButton, index) => {
                dropdownButton.addEventListener('click', function () {
                    dropdownMenus[index].classList.toggle('hidden');
                });
            });
        });
    </script>
        <script>
$(document).ready(function() {
    // Existing code for handling permission checkbox changes
    $('.permission-checkbox').on('change', function() {
        var permission = $(this).data('permission');
        var value = $(this).is(':checked');
        var userId = $(this).data('user-id');

        $.ajax({
            url: '/updateuser/' + userId,
            type: 'POST',
            data: JSON.stringify({
                action: permission,
                value: value
            }),
            contentType: 'application/json',
            success: function(response) {
                console.log('Permission updated successfully');
            },
            error: function(xhr, status, error) {
                console.error('Error updating permission:', error);
            }
        });
    });

    // New code for handling the "Go" button click
    $('.quota-update-btn').on('click', function() {
        var userId = $(this).data('user-id');
        var newQuotaInMB = parseInt($(this).siblings('input').val(), 10);
        var newQuotaInBytes = newQuotaInMB * 1024 * 1024;

        $.ajax({
            url: '/updateuser/' + userId,
            type: 'POST',
            data: JSON.stringify({
                action: 'quota',
                value: newQuotaInBytes
            }),
            contentType: 'application/json',
            success: function(response) {
                // Update the quota display
                var quotaDisplay = $(`.quota-display[data-user-id="${userId}"]`);
                quotaDisplay.text('Quota: ' + newQuotaInMB.toFixed(2) + ' MB'); // Include "Quota" text

                // Update the total file size display
                var totalFileSizeDisplay = $(`.total-file-size-display[data-user-id="${userId}"]`);
                var currentText = totalFileSizeDisplay.text();
                var parts = currentText.split('/');
                parts[1] = newQuotaInMB.toFixed(2) + ' MB'; // Update the quota part
                totalFileSizeDisplay.text(parts.join('/'));

                // Update the progress element
                var progressElement = $(`.progress-element[data-user-id="${userId}"]`);
                progressElement.attr('max', newQuotaInBytes);

                console.log('Quota updated successfully');
            },
            error: function(xhr, status, error) {
                console.error('Error updating quota:', error);
            }
        });
    });
});


         </script> 

</body>
</html>
