<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <!-- Tailwind CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body class="bg-gray-900 text-white">
    {% include 'navbar.html' %}
    <div class="min-h-screen flex">
        <div class="w-full max-w-md mx-auto">
            <h1 class="text-4xl text-white font-bold mb-4">Admin Dashboard</h1> 
            <p class="text-white">There are {{ total_users }} Users with {{ total_files }} Files using a total of {{ (used_media_space_gb * 1024**3)|bytes_to_human }}</p>
<!-- 
            <p class="text-white">Total space {{ total_space|round(2) }} GB</p>
            <p class="text-white">Used space {{ used_space|round(2) }} GB</p>
            <p class="text-white">Free space {{ free_space|round(2) }} GB</p> -->
            
            <!-- Combined Progress Bar -->
            <div class="w-full bg-gray-800 rounded-full h-2 mt-4 relative">
                <!-- Existing Progress Bar (Green) -->
                <div class="bg-green-500 h-2 rounded-full" style="width: {{ used_percentage|round(2) }}%;"></div>
                <!-- Overlay Progress Bar for used_media_space_gb (Yellow) -->
                <div class="bg-yellow-500 h-2 rounded-full absolute top-0 left-0" style="width: {{ (used_media_space_gb / total_space) * 100|round(2) }}%;"></div>
            </div>
            <p class="text-xs text-gray-400 text-center mt-1">{{ used_space|round(2) }} GB used of {{ total_space|round(2) }} GB</p>


            <!-- Toggle Switch for Registration -->
            <div class="flex items-center mt-4">
                <input type="checkbox" id="registrationToggle" class="hidden">
                <label for="registrationToggle" class="flex items-center cursor-pointer">
                    <span class="relative">
                        <span class="block w-10 h-6 rounded-full bg-gray-600"></span>
                        <span id="toggleDot" class="dot absolute left-1 top-1 bg-gray-400 w-4 h-4 rounded-full transition"></span>
                    </span>
                    <span class="ml-3 text-white">Enable Registration</span>
                </label>
            </div>
            <!-- New Element with Centered Buttons -->
            <div class="flex justify-center mt-4">
                <a href="/admin/users" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-2 inline-block">
                    Users
                </a>
            </div>
            <p class="text-white">Version: A0.2.0</p>
        </div>
        
    </div>

    <script>
        // Function to update toggle switch based on registration status
        function updateToggleSwitch(status) {
            const toggleDot = document.getElementById('toggleDot');
            const registrationToggle = document.getElementById('registrationToggle');

            if (status) {
                // Registration enabled
                toggleDot.style.transform = 'translateX(100%)';
                toggleDot.style.backgroundColor = '#3b82f6'; // Change color to blue when true
                registrationToggle.checked = true;
            } else {
                // Registration disabled
                toggleDot.style.transform = 'translateX(0)';
                toggleDot.style.backgroundColor = '#d1d5db'; // Change color to gray when false
                registrationToggle.checked = false;
            }
        }

        // Function to retrieve initial registration status from backend
        $(document).ready(function() {
            $.ajax({
                url: '/get_registration_status', // URL of your backend endpoint to retrieve status
                type: 'GET',
                success: function(data) {
                    // Update toggle switch based on initial status
                    updateToggleSwitch(data.status);
                },
                error: function(xhr, status, error) {
                    console.error(error);
                }
            });
        });

        // Function to send POST request when checkbox is toggled
        $('#registrationToggle').change(function() {
            var isChecked = $(this).is(':checked');
            $.ajax({
                url: '/set_registration_status', // URL of your backend endpoint to set status
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ status: isChecked }),
                success: function(data) {
                    // Update toggle switch based on updated status
                    updateToggleSwitch(isChecked);
                    console.log('Registration status updated successfully');
                },
                error: function(xhr, status, error) {
                    console.error(error);
                }
            });
        });
    </script>
</body>
</html>
