<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ appname }} | File </title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <meta property="og:title" content="{{ appname }}" />
    <meta property="og:type" content="website" />
    <!-- Adjusted for videos and images -->
    {% if file_type == 'image' %}
    <meta property="og:image" content="{{ file_url }}">
    <meta property="og:image:width" content="1200"> <!-- Example width, adjust as needed -->
    <meta property="og:image:height" content="630"> <!-- Example height, adjust as needed -->
    {% elif file_type == 'video' %}
    <meta property="og:video" content="{{ file_url }}">
    <meta property="og:video:width" content="1280"> <!-- Example width, adjust as needed -->
    <meta property="og:video:height" content="720"> <!-- Example height, adjust as needed -->
    <meta property="twitter:player" content="{{ file_url }}">
    <meta property="twitter:player:width" content="600"> <!-- Example width, adjust as needed -->
    <meta property="twitter:player:height" content="338"> <!-- Example height, adjust as needed -->
    {% endif %}
    <meta property="og:description" content="yes" />
    <meta name="theme-color" content="#FF0000">
    <meta name="twitter:card" content="summary_large_image">
</head>
<body class="bg-gray-900">
    {% if admin %}
    {% include 'navbar.html' %}
    {% else %}
    'Login'
    {% endif %}

    <div class="container mx-auto px-4 py-8">
        <div class="flex flex-wrap justify-center">
            <div class="w-full max-w-sm">
                <div class="flex flex-col items-center text-center">
                    {% if file_type == 'image' %}
                        <img class="w-full h-auto" src="{{ file_url }}" alt="Uploaded Image">
                    {% elif file_type == 'text' %}
                        <div class="bg-gray-800 text-white p-4 rounded-lg overflow-x-auto w-full max-w-full">
                            <pre>{{ file_content }}</pre>
                        </div>
                    {% elif file_type == 'audio' %}
                    <audio controls class="w-full h-full">
                        <source src="{{ file_url }}">
                        Your browser does not support the audio tag.
                    </audio>
                    {% elif file_type == 'video' %}
                    <video controls class="w-full h-full">
                        <source src="{{ file_url }}">
                        Your browser does not support the video tag.
                    </video>
                    {% else %}
                        <p class="text-white">Unable to preview file, please download</p>
                        <small class="text-white">We are not liable for any files you download</small>
                        <p class="text-white"><a href="/{{ file_path }}">Download Anyways?</a></p>
                    {% endif %}
                    <a href="/" class="mt-4 text-indigo-500 hover:text-indigo-700 text-sm font-medium">
                        Back to Dashboard
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
