<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ error_code }} - {{ error_message }}</title>
    <!-- Include Tailwind CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-900 text-gray-300 font-sans flex items-center justify-center h-screen">
    {% if admin %}
    {% include 'navbar.html' %}
{% else %}
    <a href="/" class="text-blue-500 hover:text-blue-700 fixed top-4 right-4">Go home</a>
{% endif %}
    <div class="max-w-4xl p-8 bg-gray-800 rounded-lg shadow-lg flex flex-col items-center justify-center">
        <h1 class="text-6xl font-bold text-red-500">
            {{ error_code }}
        </h1>
        <p class="text-lg font-bold text-gray-300 mt-4">{{ error_message }}</p>
        <p class="text-gray-400 mt-4">{{ generic_message }}</p>
    </div>
</body>
</html>
