<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ appname }} | Home</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        /* Custom CSS for white placeholders */
        ::placeholder {
            color: white;
            opacity: 1; /* Firefox */
        }

        :-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: white;
        }

        ::-ms-input-placeholder { /* Microsoft Edge */
            color: white;
        }
        
        #imageViewer {
            z-index: 1000; /* Ensure the image viewer is above other content */
        }

        #imageViewer .absolute {
            z-index: 1000; /* Ensure the overlay is above the image */
        }

        #imageViewer img {
            cursor: zoom-out;
            z-index: 1001; /* Ensure the image is above the overlay */
        }


        #closeViewer {
            cursor: pointer;
            z-index: 1002; /* Ensure the close button is above the image and overlay */
        }
        .aspect-ratio-item {
            position: relative;
            width: 90%;
            padding-top: 90%; /* This makes the height equal to the width */
        }

        .aspect-ratio-item > * {
            position: absolute;
            top: 0;
            left: 0;
            width: 90%;
            height: 90%;
        }

        .zoom-100 {
            transform: scale(1);
        }

        .zoom-150 {
            transform: scale(1.5);
        }

        .zoom-200 {
            transform: scale(2);
        }
        .controls-on-top {
            position: relative; /* Ensure the element is positioned */
            z-index: 1022; /* Set a high z-index to ensure it's on top */
        }
        .no-scroll {
            overflow: hidden;
            height: 100%; /* Ensure the body takes up the full height */
        }
    .aspect-ratio-item {
        position: relative;
    }

    .controls-container {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10; /* Ensure the controls are above the media */
    }


    </style>
    </style>
</head>
<body class="bg-gradient-to-r from-gray-900 via-gray-800 to-gray-700 min-h-screen">
    {% include 'navbar.html' %}

    
    <div id="imageViewer" class="fixed inset-0 flex items-center justify-center hidden" style="z-index: 1000;">
        <div class="absolute inset-0 bg-black opacity-90" style="z-index: 998;"></div>
        <!-- because js fuckery the image viewer thing is limited -->
        <div class="image-container relative" style="z-index: 999;">
            <img id="viewerImage" src="" alt="" class="w-full h-full">
        </div>
        <button id="closeViewer" class="absolute top-4 right-4 text-white text-2xl z-50 controls-on-top" style="z-index: 1001;">&times;</button>
        <input type="range" id="zoomRange" min="100" max="500" value="100" class="absolute bottom-4 left-4 right-4 z-40 controls-on-top" style="z-index: 1001;">
    </div>

    <div class="text-white p-4">
        <h1 class="text-4xl font-bold">Welcome, {{ name }}!</h1>
        <p> You have uploaded {{ uploadcount }} files</p>
        <p>Using: 
            {% if total_file_size is not none and quota is not none %}
            {{ total_file_size | bytes_to_human }}/{{ quota | bytes_to_human }}
            {% else %}
                0/0 MB
            {% endif %}           
        </p>
        {% if profilepic %}
            <img src="{{ profilepic }}" alt="Profile Picture" class="w-32 h-32 rounded-full mt-4 md:w-48 md:h-48 lg:w-64 lg:h-64">
        {% else %}
            <p class="mt-4">No profile picture available.</p>
        {% endif %}
    </div>
    {% if uploadperm == true %}
    <form id="url-shorten-form" action="/shorten" method="post" class="mt-4 text-white">
        <div class="flex flex-col">
            <label for="url" class="mb-2 text-lg font-semibold">Shorten URL:</label>
            <input type="url" name="url" id="url" required class="block w-full p-2 border border-gray-300 rounded-md bg-gray-800" placeholder="Enter URL">
        </div>
        <input type="submit" value="Shorten" class="block w-full p-2 mt-2 bg-gray-800 text-white rounded-md hover:bg-gray-700">
    </form>
    
    <form id="upload-form" action="/upload" method="post" enctype="multipart/form-data" class="mt-4 text-white">
        <input type="file" name="file" required class="block w-full p-2 border border-gray-300 rounded-md">
        <input type="submit" value="Upload" class="block w-full p-2 mt-2 bg-gray-800 text-white rounded-md hover:bg-gray-700">
    </form>
    <div id="upload-message" class="mt-4 text-white"></div>
    {% else %}
    <div
  class="block rounded-lg text-white bg-red-700 p-6 text-surface shadow-secondary-1">
  <p class="mb-4 text-base ">
        You Currently do not have upload permissions
  </p>
</div>
    {% endif %}
    <div class="text-white">Shortened Links:</div>
    {% if not user_links %}
    <p class="text-white">No Current Shortened Links</p>
    <br>
{% endif %}
{% if user_links %}
    <table class="w-full bg-gray-900 rounded-lg overflow-hidden shadow-md">
        <thead class="bg-gray-800 text-left text-white">
            <tr>
                <th class="px-4 py-2">Manage</th>
                <th class="px-4 py-2">Short Code</th>
                <th class="px-4 py-2">Original URL</th>
                <th class="px-4 py-2">Created At</th>
                <th class="px-4 py-2">Views</th>
            </tr>
        </thead>
        <tbody>
            {% for link in user_links %}
            <tr class="hover:bg-gray-700 transition-colors duration-300 text-white">
                <td class="border-t border-gray-700 px-4 py-2 flex items-center">
                    <button onclick="copyLink('{{ link.short_code }}')" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                        <svg fill="#ffffff" width="16px" height="16px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>chain</title> <path d="M0 22.944q0 2.464 1.76 4.224l3.072 3.104q1.76 1.728 4.224 1.728t4.256-1.728l2.688-2.976q1.376-1.344 1.664-3.232t-0.512-3.552l-6.784 6.784q-0.576 0.576-1.408 0.576t-1.44-0.576l-2.816-2.816q-0.576-0.608-0.576-1.408t0.576-1.408l6.784-6.816q-1.632-0.8-3.52-0.512t-3.264 1.664l-2.944 2.72q-1.76 1.76-1.76 4.224zM9.792 20.256q0 0.832 0.576 1.408t1.408 0.576 1.408-0.576l8.48-8.48q0.576-0.576 0.576-1.408t-0.576-1.408q-0.608-0.576-1.44-0.576t-1.408 0.576l-8.448 8.48q-0.576 0.576-0.576 1.408zM14.336 7.968q-0.288 1.888 0.512 3.552l6.816-6.816q0.576-0.576 1.408-0.576t1.408 0.576l2.816 2.848q0.576 0.576 0.576 1.408t-0.576 1.408l-6.784 6.784q1.632 0.832 3.52 0.512t3.264-1.664l2.944-2.944q1.76-1.76 1.76-4.224t-1.76-4.256l-2.816-2.816q-1.76-1.76-4.224-1.76t-4.256 1.76l-2.944 2.944q-1.344 1.376-1.664 3.264z"></path> </g></svg>
                    </button>
                    <button onclick="editLink('{{ link.short_code }}')" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    <svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16px" height="16px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve" fill="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill="#ffffff" d="M62.828,12.482L51.514,1.168c-1.562-1.562-4.093-1.562-5.657,0.001c0,0-44.646,44.646-45.255,45.255 C-0.006,47.031,0,47.996,0,47.996l0.001,13.999c0,1.105,0.896,2,1.999,2.001h4.99c0.003,0,9.01,0,9.01,0s0.963,0.008,1.572-0.602 s45.256-45.257,45.256-45.257C64.392,16.575,64.392,14.046,62.828,12.482z M37.356,12.497l3.535,3.536L6.95,49.976l-3.536-3.536 L37.356,12.497z M8.364,51.39l33.941-33.942l4.243,4.243L12.606,55.632L8.364,51.39z M3.001,61.995c-0.553,0-1.001-0.446-1-0.999 v-1.583l2.582,2.582H3.001z M7.411,61.996l-5.41-5.41l0.001-8.73l14.141,14.141H7.411z M17.557,60.582l-3.536-3.536l33.942-33.94 l3.535,3.535L17.557,60.582z M52.912,25.227L38.771,11.083l2.828-2.828l14.143,14.143L52.912,25.227z M61.414,16.725l-4.259,4.259 L43.013,6.841l4.258-4.257c0.782-0.782,2.049-0.782,2.829-0.002l11.314,11.314C62.195,14.678,62.194,15.943,61.414,16.725z"></path> </g></svg>
                    </button>
                    <button onclick="deleteLink('{{ link.short_code }}')" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                    <svg width="16px" height="16px" viewBox="0 0 24.00 24.00" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M18 6L17.1991 18.0129C17.129 19.065 17.0939 19.5911 16.8667 19.99C16.6666 20.3412 16.3648 20.6235 16.0011 20.7998C15.588 21 15.0607 21 14.0062 21H9.99377C8.93927 21 8.41202 21 7.99889 20.7998C7.63517 20.6235 7.33339 20.3412 7.13332 19.99C6.90607 19.5911 6.871 19.065 6.80086 18.0129L6 6M4 6H20M16 6L15.7294 5.18807C15.4671 4.40125 15.3359 4.00784 15.0927 3.71698C14.8779 3.46013 14.6021 3.26132 14.2905 3.13878C13.9376 3 13.523 3 12.6936 3H11.3064C10.477 3 10.0624 3 9.70951 3.13878C9.39792 3.26132 9.12208 3.46013 8.90729 3.71698C8.66405 4.00784 8.53292 4.40125 8.27064 5.18807L8 6" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                    </button>
                </td>
                <!-- <td class="border-t border-gray-700 px-4 py-2">{{ link.id }}</td> -->
                <td class="border-t border-gray-700 px-4 py-2">{{ link.short_code }}</td>
                <td class="border-t border-gray-700 px-4 py-2">{{ link.original_url }}</td>
                <td class="border-t border-gray-700 px-4 py-2">{{ link.created_at.strftime('%Y-%m-%d at %H:%M:%S') }}</td>
                <td class="border-t border-gray-700 px-4 py-2">{{ link.view_counter }}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endif %}

    <div class="text-white"> Uploaded Files:
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
<!-- Inside the loop that iterates over each uploaded file -->
{% if not user_uploads %}
No Current Uploads
{% endif %}
{% for upload in user_uploads %}
<div class="rounded overflow-hidden shadow-lg w-full aspect-ratio-item">
    
    {% if upload.file_type == 'image' %}
        <img class="w-full h-full object-cover" src="{{ upload.file_url }}" alt="Uploaded Image">
        <div class="px-6 py-4 controls-container">
            <a href="/i/{{ upload.short_url }}" class="bg-green-500 text-white p-2">Share</a>
            <button class="delete-image-btn bg-red-500 text-white p-2" data-image-id="{{ upload.id }}">Delete</button>
            <button class="view-image-btn bg-blue-500 text-white p-2">View</button>
        </div>
    {% elif upload.file_type == 'text' %}
        <div class="px-6 py-4">
            <div class="mt-2 overflow-auto max-h-64">
                <pre>{{ upload.file_content }}</pre>
                <div class="controls-container">
                    <a href="/i/{{ upload.short_url }}" class="bg-green-500 text-white p-2">Share</a>
                    <button class="delete-image-btn bg-red-500 text-white p-2" data-image-id="{{ upload.id }}">Delete</button>
                    <button class="view-image-btn bg-blue-500 text-white p-2">Open</button>
                </div>
            </div>
        </div>
    {% elif upload.file_type == 'video' %}
        <div class="video-audio-container">
            <video controls class="w-full h-full">
                <source src="{{ upload.file_url }}">
                Your browser does not support the video tag.
            </video>
            <div class="controls-container">
                <a href="/i/{{ upload.short_url }}" class="bg-green-500 text-white p-2">Share</a>
                <button class="delete-image-btn bg-red-500 text-white p-2" data-image-id="{{ upload.id }}">Delete</button>
                <button class="view-image-btn bg-blue-500 text-white p-2">Open</button>
            </div>
        </div>
    {% elif upload.file_type == 'audio' %}
        <div class="video-audio-container bg-gray-700">
            <audio controls class="w-full h-full">
                <source src="{{ upload.file_url }}">
                Your browser does not support the audio tag.
            </audio>
            <div class="controls-container">
                <a href="/i/{{ upload.short_url }}" class="bg-green-500 text-white p-2">Share</a>
                <button class="delete-image-btn bg-red-500 text-white p-2" data-image-id="{{ upload.id }}">Delete</button>
                <button class="view-image-btn bg-blue-500 text-white p-2">Open</button>
            </div>
        </div>
    {% else %}
    <div class="px-6 py-4 bg-gray-700">
        <div class="controls-container">
            <a href="/i/{{ upload.short_url }}" class="bg-green-500 text-white p-2">Share</a>
            <button class="delete-image-btn bg-red-500 text-white p-2" data-image-id="{{ upload.id }}">Delete</button>
            <button class="view-image-btn bg-blue-500 text-white p-2">Open</button>
        </div>
            File Type: Other File type

    </div>
    
    
    {% endif %}
</div>
{% endfor %}
<script>
    function deleteLink(shortCode) {
        // Construct the full URL for the request
        const baseUrl = '/delurl/' + encodeURIComponent(shortCode);
        const url = `${window.location.origin}${baseUrl}`;
    
        // Send a DELETE request to the server
        fetch(url, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json'
            }
        })
       .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
       .then(data => {
            console.log(data.message); // Log success message
            location.reload();
            // Optionally, redirect the user or update the UI here
        })
       .catch(error => {
            console.error('There was a problem with the fetch operation:', error);
            // Handle errors here, e.g., show an error message to the user
        });
    }
    </script>
<script>
    function copyLink(shortUrl) {
        // Directly construct the full URL using the current page's URL and the short URL
        const fullUrl = window.location.href + 'u/' + shortUrl;
        
        // Create a temporary input element
        var tempInput = document.createElement("input");
        tempInput.value = fullUrl;
        document.body.appendChild(tempInput);
        tempInput.select();
        
        // Copy the value to the clipboard
        document.execCommand("copy");
        
        // Remove the temporary input element
        document.body.removeChild(tempInput);
        
        // Display success message
        alert('Copied to Clipboard');
    }
    </script>
    
    
    
<script>
$(document).ready(function() {
    $('#url-shorten-form').on('submit', function(e) {
        e.preventDefault(); // Prevent the default form submission

        var formData = new FormData($(this)[0]); // Ensure correct form data
        console.log(formData); // Check formData in the console
        $.ajax({
            url: '/shorten',
            type: 'POST',
            data: formData,
            contentType: false, // Set contentType to false for FormData
            processData: false, // Set processData to false for FormData
            success: function(response) {
                // Display the success message and short URL
                location.reload();
                $('#shorten-message').html('<p>' + response.message + '</p><p>Short URL: <a target="_blank" href="/i/' + response.short_url + '">'+ response.short_url +'</a></p>');
            },
            error: function(xhr, status, error) {
                // Attempt to parse the response text as JSON
                var response = JSON.parse(xhr.responseText);
                // Check if the response contains a message
                var errorMessage = response.message || 'An error occurred';
                // Display the error message
                $('#shorten-message').html('<p>Error: ' + errorMessage + '</p>');
            }
        });
    });
});


    </script>
    

        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('#upload-form').on('submit', function(e) {
                e.preventDefault(); // Prevent the default form submission
        
                var formData = new FormData(this);
                $.ajax({
                    url: '/upload',
                    type: 'POST',
                    data: formData,
                    processData: false, // Important!
                    contentType: false, // Important!
                    success: function(response) {
                        // Display the success message and short URL
                        location.reload();
                        $('#upload-message').html('<p>' + response.message + '</p><p>Short URL: <a target="_blank" href="/i/' + response.short_url + '">'+ response.short_url +'</a></p>');
                    },
                    error: function(xhr, status, error) {
                        // Attempt to parse the response text as JSON
                        var response = JSON.parse(xhr.responseText);
                        // Check if the response contains a message
                        var errorMessage = response.message || 'An error occurred';
                        // Display the error message
                        $('#upload-message').html('<p>Error: ' + errorMessage + '</p>');
                    }
                });
            });
        });
        </script>
        
    <script>
document.addEventListener('DOMContentLoaded', function() {
    // Get all view image buttons
    const viewImageButtons = document.querySelectorAll('.view-image-btn');

    // Add click event listener to each button
    viewImageButtons.forEach(button => {
        button.addEventListener('click', function(event) {
            // Prevent the default action
            event.preventDefault();

            // Find the closest parent div that contains both the button and the image
            const parentDiv = this.closest('.aspect-ratio-item');
            // Get the image URL from the parent element
            const imageUrl = parentDiv.querySelector('img').src;

            // Set the source of the viewer image to the clicked image
            document.getElementById('viewerImage').src = imageUrl;
            // Show the image viewer
            document.getElementById('imageViewer').classList.remove('hidden');
            // Reset zoom level to 100%
            document.getElementById('viewerImage').classList.remove('zoom-150', 'zoom-200');
            document.getElementById('viewerImage').classList.add('zoom-100');
        });
    });

    // Add click event listener to the close button
    document.getElementById('closeViewer').addEventListener('click', function() {
        // Hide the image viewer
        document.getElementById('imageViewer').classList.add('hidden');
    });

    // Add event listener to the zoom range slider
    document.getElementById('zoomRange').addEventListener('input', function() {
        const zoomLevel = this.value; // Get the current value of the range slider
        const viewerImage = document.getElementById('viewerImage');
        viewerImage.style.transform = `scale(${zoomLevel / 100})`; // Apply the zoom level
    });
});


        </script>
        
        <script>
document.addEventListener('DOMContentLoaded', function() {
    // Get all delete image buttons
    const deleteImageButtons = document.querySelectorAll('.delete-image-btn');

    // Add click event listener to each delete button
    deleteImageButtons.forEach(function(button) {
        button.addEventListener('click', function(event) {
            // Prevent the default action
            event.preventDefault();

            // Get the image ID from the delete button
            const imageId = this.getAttribute('data-image-id');
            console.log('Image ID:', imageId); // Check if imageId has a value

            // Ask for confirmation before deleting
            if (confirm('Are you sure you want to delete this file?')) {
                // If user confirms, send an AJAX request to delete the image
                $.ajax({
                    url: '/delete/' + imageId, // Concatenate the imageId to the URL
                    type: 'POST',
                    success: function(response) {
                        location.reload();
                    },
                    error: function(xhr, status, error) {
                        // Handle the error
                    }
                });
            }
        });
    });
});

            </script>

</body>
</html>
