<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ appname }} | Login</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        .border-red-500 {
            border-color: #f56565 !important; /* Example color for red */
        }
        .custom-border-red {
            border-color: #f56565 !important;
        }

        .border-gray-300 {
            border-color: #d1d5db !important; /* Example color for gray */
        }

    </style>
</head>
<body class="bg-gradient-to-r from-gray-900 via-gray-800 to-gray-700 min-h-screen flex items-center justify-center">
    <div class="bg-gray-900 p-8 rounded-lg shadow-md w-full max-w-md">
        <h1 class="text-2xl font-bold mb-6 text-white">Login</h1>
        <form id="loginForm" action="{{ url_for('auth.login') }}" method="post">
            <div class="mb-4">
                <label for="username" class="block text-sm font-medium text-white">Username:</label>
                <input type="text" id="username" name="username" class="mt-1 block w-full rounded-md border-gray-300 bg-gray-700 text-white focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" required>
            </div>
            <div class="mb-4">
                <label for="password" class="block text-sm font-medium text-white">Password:</label>
                <input type="password" id="password" name="password" class="mt-1 block w-full rounded-md border-gray-300 bg-gray-700 text-white focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" required>
            </div>
            <div class="mb-1">
                <p class="text-white text-xs"> Don't have an account? <a class="text-blue-400" href="/register">Register</a></p>
            </div>
            <button type="submit" class="w-full py-2 px-4 bg-indigo-600 hover:bg-indigo-700 focus:ring-indigo-500 focus:ring-offset-indigo-200 text-sm font-medium text-white rounded-md">Login</button>
        </form>
        <button id="resetPasswordButton" class="w-full py-2 px-4 bg-gray-600 hover:bg-gray-700 focus:ring-gray-500 focus:ring-offset-gray-200 text-sm font-medium text-white rounded-md" disabled>Reset Password</button>
        <br>
        <div class="grid grid-cols-3 gap-1 justify-items-center">
            {% for provider in providers %}
                {% if provider.enabled %}
                <button onclick="window.location.href='{{ provider.redirect_url }}'" class="w-full py-1 px-2 {{ provider.button_style }} hover:bg-opacity-75 focus:ring-opacity-50 text-sm font-medium text-white rounded-md">{{ provider.name }}</button>
                {% endif %}
            {% endfor %}
        </div>        
        <script>
            $(document).ready(function() {
                $('#username').addClass('custom-border-red');
                $('#loginForm').on('submit', function(e) {
                    e.preventDefault();
                    $.ajax({
                        type: 'POST',
                        url: $(this).attr('action'),
                        data: $(this).serialize(),
                        dataType: 'json',
                        success: function(response) {
                            if (response.error) {
                                $('#errorMessage').text(response.error).show();
                                if (response.error === 'User not found') {
                                    $('#username').css('border-color', '#f56565');
                                } else if (response.error === 'Invalid password') {
                                    $('#password').addClass('border-red-500').removeClass('border-gray-300');
                                }
                            } else if (response.redirect) {
                                window.location.href = response.redirect;
                            }
                        },
                        error: function(jqXHR, textStatus, errorThrown) {
                            console.error("AJAX Error:", textStatus, errorThrown);
                            $('#errorMessage').text('An error occurred. Please try again.').show();
                        }
                    });
                });
        
                // Enable the reset password button when the username field is not empty
                $('#username').on('input', function() {
                    if ($(this).val().trim().length > 0) {
                        $('#resetPasswordButton').prop('disabled', false);
                    } else {
                        $('#resetPasswordButton').prop('disabled', true);
                    }
                });
        
                // Handle the reset password button click
                $('#resetPasswordButton').on('click', function() {
                    var username = $('#username').val();
                    if (username.trim().length > 0) {
                        $.ajax({
                            type: 'POST',
                            url: '/reset-password', // Updated URL to match the consolidated route
                            data: {
                                'username_or_email': username
                            },
                            dataType: 'json',
                            success: function(response) {
                                if (response.error) {
                                    $('#errorMessage').text(response.error).show();
                                } else {
                                    $('#errorMessage').text(response.message).show();
                                }
                            },
                            error: function(jqXHR, textStatus, errorThrown) {
                                console.error("AJAX Error:", textStatus, errorThrown);
                                $('#errorMessage').text('An error occurred. Please try again.').show();
                            }
                        });
                    }
                });
            });
        </script>
        
        
        
        <div id="errorMessage" class="text-red-500 mt-4"></div>
    </div>
</body>
</html>
