<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ appname }} | Register</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body class="bg-gradient-to-r from-gray-900 via-gray-800 to-gray-700 min-h-screen flex items-center justify-center">
    <div class="bg-gray-900 p-8 rounded-lg shadow-md w-full max-w-md">
        <h1 class="text-2xl font-bold mb-6 text-white">Register</h1>
        {% if registerenabled == True %}
        <form id="registerForm" action="{{ url_for('auth.register') }}" method="post">
            <div class="mb-4">
                <label for="email" class="block text-sm font-medium text-white">Email:</label>
                <input type="email" id="email" name="email" class="mt-1 block w-full rounded-md border-gray-300 bg-gray-700 text-white focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" required>
            </div>
            <div class="mb-4">
                <label for="confirm_email" class="block text-sm font-medium text-white">Confirm Email:</label>
                <input type="email" id="confirm_email" name="confirm_email" class="mt-1 block w-full rounded-md border-gray-300 bg-gray-700 text-white focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" required>
            </div>
            <div class="mb-4">
                <label for="username" class="block text-sm font-medium text-white">Username:</label>
                <input type="text" id="username" name="username" class="mt-1 block w-full rounded-md border-gray-300 bg-gray-700 text-white focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" required>
            </div>
            <div class="mb-4">
                <label for="password" class="block text-sm font-medium text-white">Password:</label>
                <input type="password" id="password" name="password" class="mt-1 block w-full rounded-md border-gray-300 bg-gray-700 text-white focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" required>
            </div>
            <div class="mb-4">
                <label for="confirm_password" class="block text-sm font-medium text-white">Confirm Password:</label>
                <input type="password" id="confirm_password" name="confirm_password" class="mt-1 block w-full rounded-md border-gray-300 bg-gray-700 text-white focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" required>
            </div>
            <button type="submit" class="w-full py-2 px-4 bg-indigo-600 hover:bg-indigo-700 focus:ring-indigo-500 focus:ring-offset-indigo-200 text-sm font-medium text-white rounded-md">Register</button>
        </form>
        <div class="mb-1">
            <p class="text-white text-xs"> Already have an account? <a class="text-blue-400" href="/login">Login</a></p>
        </div>
        {% else %}
        <div class="mb-4 text-red-500">Registration is Disabled</div>
        <div class="mb-1">
            <a class="text-blue-400" href="/login">Login</a></p>
        </div>
        {% endif %}
        <div id="errorMessage" class="text-red-500 mt-4"></div>
    </div>

    <script>
    $(document).ready(function() {
        $('#registerForm').on('submit', function(e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: $(this).attr('action'),
                data: $(this).serialize(),
                dataType: 'json',
                success: function(response) {
                    if (response.error) {
                        $('#errorMessage').text(response.error).show();
                        // Add logic to highlight input fields based on the error
                    } else if (response.redirect) {
                        window.location.href = response.redirect;
                    }
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.error("AJAX Error:", textStatus, errorThrown);
                    $('#errorMessage').text('An error occurred. Please try again.').show();
                }
            });
        });
    });
    </script>
</body>
</html>
