<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body class="bg-gray-900 text-white">
    <div class="min-h-screen flex items-center justify-center">
        <div class="bg-gray-800 p-8 rounded-lg shadow-md w-full max-w-md">
            <h2 class="text-2xl font-bold mb-6">Reset Password</h2>
            {% if code_provided %}
                {% if code_valid == True %}
                    <form id="resetPasswordForm" action="/reset-password" method="post">
                        <input type="hidden" name="code" value="{{ code }}">
                        

                        <div class="mb-4">
                            <label for="password" class="block text-sm font-medium">New Password</label>
                            <input type="password" name="password" id="password" class="mt-1 block w-full rounded-md border-gray-300 bg-gray-700 text-white focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"  required>
                        </div>
                        <div class="mb-4">
                            <label for="confirm_password" class="block text-sm font-medium">Confirm New Password</label>
                            <input type="password" name="confirm_password" id="confirm_password" class="mt-1 block w-full rounded-md border-gray-300 bg-gray-700 text-white focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" required>
                        </div>
                        <div class="mb-4">
                            <button type="button" id="togglePasswordVisibility" class="w-full py-2 px-4 bg-gray-600 hover:bg-gray-700 focus:ring-gray-500 focus:ring-offset-gray-200 text-sm font-medium text-white rounded-md">
                                View Password
                            </button>
                        </div>
                        <button type="submit" class="w-full py-2 px-4 bg-indigo-600 hover:bg-indigo-700 focus:ring-indigo-500 focus:ring-offset-indigo-200 text-sm font-medium text-white rounded-md">
                            Reset Password
                        </button>                     
                    </form>
                    <div id="message" class="mt-4"></div>
                {% else %}
                    <p class="text-red-500">Error, code doesn't exist or is expired.</p>
                {% endif %}
            {% else %}
                <p class="text-red-500">Please provide a reset code.</p>
            {% endif %}
        </div>
    </div>
    <script>
        $(document).ready(function() {
    $('#togglePasswordVisibility').on('click', function() {
        var passwordInput = $('#password');
        var confirmPasswordInput = $('#confirm_password');
        var currentType = passwordInput.attr('type');
        
        // Toggle the type attribute of the password fields
        if (currentType === 'password') {
            passwordInput.attr('type', 'text');
            confirmPasswordInput.attr('type', 'text');
            $(this).text('Hide Password');
        } else {
            passwordInput.attr('type', 'password');
            confirmPasswordInput.attr('type', 'password');
            $(this).text('View Password');
        }
    });

    // Existing code for form submission
    $('#resetPasswordForm').on('submit', function(e) {
        // Your existing AJAX code here
    });
});

    </script>
    <script>
        $(document).ready(function() {
            $('#resetPasswordForm').on('submit', function(e) {
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: $(this).attr('action'),
                    data: $(this).serialize(),
                    dataType: 'json',
                    success: function(response) {
                        if (response.error) {
                            $('#message').text(response.error).addClass('text-red-500');
                        } else {
                            $('#message').text(response.message).addClass('text-green-500');
                        }
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        console.error("AJAX Error:", textStatus, errorThrown);
                        $('#message').text('An error occurred. Please try again.').addClass('text-red-500');
                    }
                });
            });
        });
    </script>
</body>
</html>
