<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Settings</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-900 text-white">
    {% include 'navbar.html' %}
    <div class="container mx-auto px-4 py-8">
        <!-- Update Email Form -->
        <div class="bg-gray-800 p-6 rounded-lg shadow-lg">
            <h2 class="text-2xl font-bold mb-4">Update Email</h2>
            <form action="/settings" method="post">
                <input type="hidden" name="action" value="change_email">
                <input type="email" id="email" placeholder="New Email" class="bg-gray-700 text-white p-2 rounded-lg w-full mb-4" name="email" required>
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Update</button>
            </form>
        </div>

        <!-- Change Password Form -->
        <div class="bg-gray-800 p-6 rounded-lg shadow-lg mt-8">
            <h2 class="text-2xl font-bold mb-4">Change Password</h2>
            <form action="/settings" method="post">
                <input type="hidden" name="action" value="change_password">
                <input type="password" id="old_password" placeholder="Old Password" class="bg-gray-700 text-white p-2 rounded-lg w-full mb-4" name="old_password" required>
                <input type="password" id="password" placeholder="New Password" class="bg-gray-700 text-white p-2 rounded-lg w-full mb-4" name="password" required>
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Change Password</button>
            </form>
        </div>

        <!-- Profile Picture Management -->
        <div class="bg-gray-800 p-6 rounded-lg shadow-lg mt-8">
            <h2 class="text-2xl font-bold mb-4">Profile Picture</h2>
            <div class="flex flex-col items-center mb-4">
                <!-- Update Profile Picture Form -->
                <form action="/settings" method="post" class="w-full" enctype="multipart/form-data">
                    <input type="hidden" name="action" value="upload_profile_picture">
                    <input type="file" id="profile_picture" class="bg-gray-700 text-white p-2 rounded-lg w-full mb-4" name="profile_picture" required>
                    <div class="flex justify-between">
                        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Update</button>
                        <button type="button" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Clear</button>
                    </div>
                </form>
            </div>
        </div>

        {% if permissions.apiaccess %}
        <!-- API Key Form -->
        <div class="bg-gray-800 p-6 rounded-lg shadow-lg mt-8">
            <h2 class="text-2xl font-bold mb-4">API Key</h2>
            <form action="/settings" method="post">
                <input type="hidden" name="action" value="api_access_settings">
                <input type="text" id="api_key" placeholder="API Key" class="bg-gray-700 text-white p-2 rounded-lg w-full mb-4" name="api_key" disabled>
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Update</button>
            </form>
        </div>
    </div>
    {% endif %}
</body>
</html>
